*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  font-family: "Whyte Inktrap", sans-serif;
  background: linear-gradient(249.39deg, #0d0c4d -1.22%, #161620 103.79%); }

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 9.6rem;
  background-color: #1f1d2b;
  padding: 0 15rem; }

.section-head {
  padding-left: 15.1rem;
  margin-top: 14.1rem; }

.section-partner {
  padding: 0 15rem; }

.header__logo, .header__logo:link, .header__logo:visited {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 2.8rem;
  font-weight: 600;
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase; }

.header__navigation {
  display: flex;
  align-items: center; }
  .header__navigation_list {
    list-style: none;
    display: flex;
    margin-right: 10rem; }
  .header__navigation_item:not(:last-child) {
    margin-right: 3.6rem; }
  .header__navigation_link:link, .header__navigation_link:visited {
    font-family: "Inter", sans-serif;
    font-size: 1.4rem;
    font-weight: 600;
    text-decoration: none;
    color: #ffffff; }

.btn {
  background-color: #d331bb;
  text-decoration: none;
  color: #ffffff;
  font-size: 1.4rem; }
  .btn__header {
    display: flex;
    align-items: center;
    padding: 1.4rem 2.4rem; }
  .btn__icon {
    margin-right: 1rem; }
  .btn__head {
    display: inline-block;
    padding: 1.8rem 7.2rem;
    margin-top: 4.8rem; }

.head {
  display: flex;
  flex-wrap: wrap; }
  .head__text {
    flex: 0 0 57.9rem;
    margin-right: 7.7rem; }
    .head__text_main {
      font-size: 7.2rem;
      font-weight: 950;
      color: #ffffff;
      line-height: 8.6rem; }
    .head__text_sub {
      font-size: 1.8rem;
      font-family: "IBM Plex Sans", sans-serif;
      font-weight: 400;
      color: #eeeeee;
      line-height: 2.5rem; }
  .head__img {
    position: relative;
    flex: 0 0 53.3rem; }
    .head__img_item {
      position: absolute;
      flex: 0 0 50%; }
      .head__img_item-1 {
        z-index: 200;
        width: 44.6rem;
        height: 62.8rem;
        top: 0;
        left: 0; }
      .head__img_item-2 {
        z-index: 100;
        top: 5rem;
        left: 2.3rem; }
      .head__img_item-3 {
        top: 10.7rem;
        left: 5rem; }
  .head__user {
    background: #262222;
    opacity: 0.45;
    backdrop-filter: blur(86px);
    margin-top: 14.2rem;
    padding: 3.8rem 8.2rem 3.5rem 8.3rem; }
    .head__user_con {
      display: inline-block;
      color: #fcfcfc; }
      .head__user_con:not(:last-child) {
        margin-right: 4.6rem;
        padding-right: 4rem;
        border-right: 1px solid #eeeeee; }
    .head__user_num {
      font-size: 32px;
      font-weight: 900;
      color: #fcfcfc; }
    .head__user_text {
      font-family: "Inter", sans-serif;
      font-size: 1.8rem;
      font-weight: 400;
      color: #fcfcfc; }

.partner {
  display: flex;
  background-image: url("img/partner-bg.png");
  justify-content: space-around;
  align-items: center;
  align-content: center;
  height: 13.9rem;
  margin-top: 6.2rem;
  margin-bottom: 3.4rem; }
  .partner__img {
    height: 3.3rem; }
