body {
  background: linear-gradient(249.39deg, #0d0c4d -1.22%, #161620 103.79%); }

h1 {
  font-family: "Whyte Inktrap", sans-serif;
  font-size: 100px; }

h2 {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 100px; }

h3 {
  font-family: "IBM Plex Serif", serif;
  font-size: 100px; }
