*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  font-family: "Whyte Inktrap", sans-serif;
  background: linear-gradient(249.39deg, #0d0c4d -1.22%, #161620 103.79%); }
