.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 9.6rem;
  background-color: #1f1d2b;
  padding: $container;
}

.section-head {
  // padding: $container;
  padding-left: 15.1rem;
  margin-top: 14.1rem;
}
