.header {
  height: 9.6rem;
  background-color: #1f1d2b;
  padding: $container;
}

.section-head {
  // margin: $container;
  margin: 15rem 10rem 15rem 15rem;
  // margin-left: 15.1rem;
  // margin-top: 14.1rem;
}

.section-partner {
  margin: 6.2rem 15rem 3.4rem 15rem;
}

.section-top-sellers {
  margin: 9.7rem 15rem;
}

.section-explore {
  margin: 7.2rem 15rem;
}
