.container {
  margin: 0 15rem;
}

.header {
}

.section-head {
}

.section-partner {
  height: 100%;
  margin: 8.3rem 0 5.6rem 0;
}

.section-top-seller {
  margin: 9.7rem 0;
}

.section-explore {
  margin: 7.2rem 0;
}
