// COLOR
$primary-color-light: #161620;
$primary-color-dark: #0d0c4d;

$color-grey: #eeeeee;

$btn-color-1: #d331bb;
$btn-color-2: #120d11;

$color-white: #ffffff;
$color-black: #000000;

// FONT
$font-family-main: "Whyte Inktrap", sans-serif;
$font-family-sub-1: "IBM Plex Sans", sans-serif;
$font-family-sub-2: "IBM Plex Serif", serif;
$font-family-sub-3: "Inter", sans-serif;

// CONTAINER
$container: 0 15rem;
