.header {
  &__logo {
    &,
    &:link,
    &:visited {
      font-family: $font-family-sub-1;
      font-size: 2.8rem;
      font-weight: 600;
      text-decoration: none;
      color: $color-white;
      text-transform: uppercase;
    }
  }

  &__navigation {
    display: flex;
    align-items: center;
    &_nav {
    }

    &_list {
      list-style: none;
      display: flex;
      margin-right: 10rem;
    }

    &_item {
      &:not(:last-child) {
        margin-right: 3.6rem;
      }
    }

    &_link {
      &:link,
      &:visited {
        font-family: $font-family-link;
        font-size: 1.4rem;
        font-weight: 600;
        text-decoration: none;
        color: $color-white;
      }
    }
  }
}

.btn {
  background-color: $btn-color-1;
  padding: 1.4rem 2.4rem;
  text-decoration: none;
  color: $color-white;
  font-size: 1.4rem;
  &__header {
    display: flex;
    align-items: center;
  }

  &__icon {
    margin-right: 1rem;
  }
}
